@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  line-height: 1.42em;
  color: #a7a1ae;
  background-color: #1f2739;
  margin: 0;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.sortable th h1 {
  font-weight: bold;
  font-size: 1em;
  text-align: left;
  color: #185875;
}
h1 {
  font-size: 3em;
  font-weight: 400;
  line-height: 1em;
  text-align: center;
  color: #4dc3fa;
}

h2 {
  font-size: 1em;
  font-weight: 400;
  text-align: center;
  display: block;
  line-height: 1em;
  padding-bottom: 2em;
  color: #fb667a;
}

h2 a {
  font-weight: 700;
  text-transform: uppercase;
  color: #fb667a;
  text-decoration: none;
}

@media (max-width:950px) {
  .tablo {
    flex-direction: column;
    
  }
  .left{
    width: 100% !important;
    position: inherit !important;
    left: inherit !important;
  }
  .right{
    width: 100% !important;
  }
  .data{
    flex-direction: column !important;
    width: 96% !important;
    
  }
  .text{
    font-size:medium;
    width: 100% !important;
  }
  .sortable{
    font-size:small !important;
  }
  #button{
    transform: scale(0.7);
  }
  .illerDiv{
    width: 100% !important;
  }
  
}

.blue {
  color: #185875;
}
.yellow {
  color: #fff842;
}
.framee {
  width: 20%;
  height: 100px;
  background-color: red;
  display: flex;
  top: 5px;
  left: 10px;
}
#button {
  display: inline-block;
  background-color: #FF9800;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#button:hover {
  cursor: pointer;
  background-color: #333;
}
#button:active {
  background-color: #555;
}
#button.show {
  opacity: 1;
  visibility: visible;
}
.sortable td {
 
  font-weight: normal;
  font-size: 1em;
  -webkit-box-shadow: 0 2px 2px -2px #0e1119;
  -moz-box-shadow: 0 2px 2px -2px #0e1119;
  box-shadow: 0 2px 2px -2px #0e1119;
}

.sortable {
  text-align: center;
  overflow: hidden;
  width: 80%;
  margin: 0 auto;
  display: table;
  padding: 0 0 8em 0;
}
.test {
  background-color: red;
  top: 5%;
}
.sortable td,
.sortable th {
  padding-bottom: 2%;
  padding-top: 2%;
  padding-left: 2%;
}

.sortable tr:nth-child(odd) {
  background-color: #323c50;
}

.sortable tr:nth-child(even) {
  background-color: #2c3446;
}

.sortable th {
  background-color: #1f2739;
}

.sortable td:first-child {
  color: #fb667a;
}

.sortable tr:hover {
  background-color: #464a52;
  -webkit-box-shadow: 0 6px 6px -6px #0e1119;
  -moz-box-shadow: 0 6px 6px -6px #0e1119;
  box-shadow: 0 6px 6px -6px #0e1119;
}

.sortable td:hover {
  background-color: #fff842;
  color: #403e10;
  font-weight: bold;
  box-shadow: #7f7c21 -1px 1px, #7f7c21 -2px 2px, #7f7c21 -3px 3px,
    #7f7c21 -4px 4px, #7f7c21 -5px 5px, #7f7c21 -6px 6px;
  transform: translate3d(6px, -6px, 0);
  transition-delay: 0s;
  transition-duration: 0.4s;
  transition-property: all;
  transition-timing-function: line;
}
.left {
  display: flex;
  position: absolute;
  left: 1%;
}
.right {
  width: 60%;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.row{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.data{
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}
.column{
  flex-direction: column;
  
}
.illerDiv{
  border-top: 5px solid #8C0000;
  padding: 1%;
  flex-direction: column;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
  font-weight: bold;
}
.text {
  border-top: 5px solid #00ffff;
  padding: 1%;
  flex-direction: row;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
}

.veri {
  border-top: 5px solid #00ffff;
  padding: 1%;
  flex-direction: row;
  background-color: white;
  display: flex;
  position: absolute;
  width: 40%;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
}
.veri2 {
  border-top: 5px solid #ffa500;
  padding: 1%;
  flex-direction: column;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
}

.chart {
  background: rgba(255, 255, 255, 0.1);
  justify-content: flex-start;
  border-radius: 100px;
  align-items: center;
  position: relative;
  padding: 0 5px;
  display: flex;
  height: 40px;
  width: 500px;
}
.prog {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2% !important;
  display: flex;
}
.progress1 {
  background: rgba(0, 0, 0, 0.1);
  justify-content: flex-start;
  border-radius: 100px;
  align-items: center;
  position: relative;
  padding: 0 5px;
  display: flex;
  height: 40px;
  width: 99%;
}

.progress-value2 {
  animation: load 3s normal forwards;
  box-shadow: 0 10px 40px -10px #fff;
  border-radius: 100px;
  background: -webkit-linear-gradient(to right, #834d9b, #d04ed6);
  background: linear-gradient(to right, #834d9b, #d04ed6); 
  height: 30px;
  width: 0;
}

.progress-value2 span {
  color: #fff;
  font-size: 14px;
  text-align: center;
  display: block;
  font-weight: bold;
}
@keyframes load {
  0% {
    width: 0;
  }
}

html::-webkit-scrollbar {
  width: 15px;
}
html::-webkit-scrollbar-track {
  background-color: black;
}

html::-webkit-scrollbar-thumb {
  background: #4e4e4e;
  border-radius: 25px;
}
html::-webkit-scrollbar {
  width: 15px;
}
html::-webkit-scrollbar-track {
  background: rgb(179, 177, 177);
  border-radius: 10px;
}
html::-webkit-scrollbar-thumb {
  background: #1f2739;
  border-radius: 10px;
}
html::-webkit-scrollbar-thumb:hover {
  background: #1f2739;
  border-radius: 10px;
}

html::-webkit-scrollbar-thumb:active {
  background: #1f2739;
  border-radius: 10px;
}

html::-webkit-scrollbar {
  width: 15px;
}
html::-webkit-scrollbar-track {
  background-image: repeating-linear-gradient(
    45deg,
    red 0,
    red 1px,
    transparent 0,
    transparent 50%
  );
  background-size: 10px 10px;
}
html::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 5px;
  box-shadow: inset 1px 1px 5px white;
}
html::-webkit-scrollbar {
  width: 12px;
}
html::-webkit-scrollbar-track {
  background: linear-gradient(
    0deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(7, 0, 211, 1) 100%
  );
}
html::-webkit-scrollbar-thumb {
  background: transparent;
  box-shadow: 0px 0px 0px 100vh #1f2739;
}

.svg-turkiye-haritasi {
  max-width: 1140px;
  margin: 0 auto;
  text-align: center;
  margin-top:2%;
  font-size: 12px;
}
.svg-turkiye-haritasi svg {
  width: 100%;
  height: auto;
}
.il-isimleri {
  position: absolute;
  z-index: 2;
  
}
.il-isimleri div {
  font-family: "Open Sans";
  display: inline-block;
  background: #1f2739;
  color: #fff;
  padding: 8px 16px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
#svg-turkiye-haritasi path {
  cursor: pointer;
  /* fill: rgb(61, 207, 252); */
}
#svg-turkiye-haritasi path:hover {
  fill: #1094f6;
}
li {
  list-style-type: none;
}
.menu {
  display: flex;
  flex-direction: row;
  margin: 2%;
  justify-content: space-around;
  height: 1%;
  color:white;
  font-size: 1.5rem;
  cursor:default;
  font-weight: 300;
}

.seperator{
  cursor:default
}

.menu a {
  position: relative;
  text-decoration: none;
}

.menu a::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  top: 100%;
  left: 0;
  background: #e03c83;
  transition: transform 0.9s;
  transform: scaleX(0);
  transform-origin: left;
}
.menu a:focus{
  border-bottom: 3px solid #e03c83;
  color: #e03c83;
}

.menu a:hover::after {
  transform: scaleX(1);
}
text{
  user-select: none;
}